<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home - Azik </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Welcome to my page</h1>
    </div>
    <div>
        <h3><a th:href="@{/register}"> Register(for Students)</a></h3>
<!--        <h3><a th:href="@{/register_admin}"> Register(for Admins)</a></h3>-->
<!--        <h3><a th:href="@{/register_teachers}"> Register(for Teachers)</a></h3>-->
        <h3><a th:href="@{/list_users}"> List All users</a></h3>
        <h3><a th:href="@{/login}"> Login</a></h3>
    </div>
</div>

</body>
</html>